@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #ffffff;
}

table {
	width: auto;
}

.scrollable-content {
	overflow: auto;
	height: 100vh; /* Imposta l'altezza al 100% della viewport */
	width: 100%; /* Imposta la larghezza al 100% */
}

/* Sovrascrive il colore di sfondo della navbar di Bootstrap */
nav.navbar {
	background-color: #120b33;
}

.b-logout {
	background-color: #ffffff;
	border-radius: 5px;
}

.b-logout:hover {
	background-color: #00b896;
	border-color: #00b896;
}

.btn-outline-light {
	border-radius: 30px; /* Rendi il button stondato */
	transition: all 0.3s ease; /* Aggiungi un'animazione di transizione */
}

.go-page-btn {
	background-color: #00b896;
	border-color: #00b896;
	border-radius: 5px; /* Imposta i bordi più squadrati */
}

.go-page-btn:hover {
	background-color: #008577; /* Cambia il colore al passaggio del mouse */
	border-color: #008577;
}

/* Stile generale dell'albero delle cartelle */
.folder-tree {
	list-style: none;
	padding-left: 20px;
}

/* Stile dei bottoni delle cartelle */
.folder-btn {
	font-size: 20px;
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

.document {
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

.folder-container {
	min-width: 30px; /* Larghezza minima */
    width: auto; /* Larghezza che si adatta automaticamente */
    max-width: 100%; /* Larghezza massima (può essere regolata secondo necessità) */
    display: inline-block; /* Assicura che l'elemento si comporti come un blocco inline */
    
	height: relative;
	margin: 10px auto 10px;
	border-radius: 10px 10px 10px 10px;
	filter: drop-shadow(0 0 0.2rem grey);
	background: white;
	position: relative;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.folder-container:hover {
	filter: drop-shadow(0 0 0.75rem grey);
}

.folder-container::before {
	content: '';
	position: absolute;
	top: -18px;
	width: 200px;
	height: 25px;
	background: white;
	border-radius: 25px 0 0 0;
	clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
}

.folder-container::after {
	content: '';
	position: absolute;
	left: 45px;
	width: 85px;
	height: 5px;
	top: -18px;
	background: #7036E9;
	border-radius: 10px 10px 0px 0px;
}

.doc-btn {
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

/* Stile dei bottoni delle cartelle al passaggio del mouse */
.folder-btn:hover {
	cursor: grab;
	background-color: #f0f0f0;
	/* Colore di sfondo al passaggio del mouse */
}

.folder-btn:not([disabled]):hover {
	background-color: #e0e0e0;
	/* Colore di sfondo grigio chiaro al passaggio del mouse */
}

.doc-btn:hover {
	cursor: grab;
	background-color: #f0f0f0;
	/* Colore di sfondo al passaggio del mouse */
}

/* DRAGEDROP*/
.droppable.dragover {
	font-weight: bold;
}

.not-droppable {
	color: red;
}

.dragging {
	opacity: .5;
}

.right-div {
	margin-top: 207px;
	width: 39%;
	border: none;
	border-radius: 10px;
	float: right;
}

.left-div {
	margin-left: 10px;
	margin-top: 200px;
	width: 60%;
	border: none;
	border-radius: 10px;
	float: left;
}

a, button {
	color: black; /* Colore del testo nero */
	border-color: black; /* Colore del bordo nero */
	border-radius: 10px;
}

/* Stili generici per a e button */
a:hover, a:active, button:hover {
	background-color: #00b896; /* Colore di sfondo al passaggio del mouse */
	color: white; /* Colore del testo bianco al passaggio del mouse */
	border-color: #00b896;
	/* Cambia il colore del bordo al passaggio del mouse */
}

.BackButton {
	background-color: #e0e0e0;
	color: red;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

.backVersionButton {
	background-color: #e0e0e0;
	color: red;
	border: none;
	padding: 2.5px 5px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
	transition: all 0.3s ease;
}

/* Stili hover specifici per BackButton */
.BackButton:hover, .backVersionButton:hover {
	background-color: red;
	border-color: #666;
}

.HideDetails {
	background-color: #e0e0e0;
	color: red;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

.HideDetails:hover {
	background-color: red;
	color: white;
	border-color: #666;
}

.clt, .clt ul, .clt li {
	position: relative;
}

.clt ul {
	list-style: none;
	padding-left: 32px;
}

.document {
	display: flex;
	align-items: center;
}

.document span {
	margin-right: 10px;
	/* Aggiungi spazio tra il nome del documento e il pulsante */
}

.main-title {
	border: none;
	border-bottom: 2px solid #adadad;
	position: sticky;
}

.text-input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
	border-bottom: 2px solid #adadad;
}

#docSummary {
	resize: none; /* Impedisci il ridimensionamento della textarea */
	height: auto; /* Imposta l'altezza automatica in base al contenuto */
	min-height: 100px;
	/* Imposta un'altezza minima per garantire che ci sia abbastanza spazio per tre righe di testo */
}

.ShowDocumentInfo {
	margin-left: 5px; /* Aggiunge un margine a sinistra */
	margin-right: 5px; /* Aggiunge un margine a destra */
	border-radius: 4px; /* Rende i bordi del pulsante arrotondati */
	background-color: #f0f0f0; /* Imposta il colore di sfondo */
	border: none; /* Rimuove il bordo */
	padding: 5px 10px; /* Aggiunge spazio interno al pulsante */
}

.ShowDocumentInfo:hover {
	background-color: #666;
	/* Cambia il colore di sfondo al passaggio del mouse */
	border-color: #666;
	/* Cambia il colore del bordo al passaggio del mouse */
	color: white; /* Cambia il colore del testo al passaggio del mouse */
}

.mngBtn {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
	background-color: #f0f0f0;
	border: none;
	padding: 5px 10px;
}

.mngBtn:hover {
	background-color: #666; /* Cambia il colore al passaggio del mouse */
	border-color: #666;
	color: white;
}
#documentDetails {
	margin-left: 20px;
	margin-top: 20px;
}

#main-header {
	background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assicura che l'header sia sopra altri contenuti */
}	