@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #ffffff;
}

table {
	width: auto;
}

.scrollable-content {
	overflow: auto;
	height: 100vh; /* Imposta l'altezza al 100% della viewport */
	width: 100%; /* Imposta la larghezza al 100% */
}

/* Sovrascrive il colore di sfondo della navbar di Bootstrap */
nav.navbar {
	background-color: #120b33;
}

.b-logout {
	background-color: #ffffff;
	border-radius: 5px;
}

.b-logout:hover {
	background-color: #00b896;
	border-color: #00b896;
}

.btn-outline-light {
	border-radius: 30px; /* Rendi il button stondato */
	transition: all 0.3s ease; /* Aggiungi un'animazione di transizione */
}

.go-page-btn {
	background-color: #00b896;
	border-color: #00b896;
	border-radius: 5px; /* Imposta i bordi più squadrati */
}

.go-page-btn:hover {
	background-color: #008577; /* Cambia il colore al passaggio del mouse */
	border-color: #008577;
}

/* Stile generale dell'albero delle cartelle */
.folder-tree {
	list-style: none;
	padding-left: 20px;
}

/* Stile dei bottoni delle cartelle */
.folder-btn {
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

/* Stile del bottone per la cartella non cliccabile */

/* Stile dei bottoni delle cartelle al passaggio del mouse */
.folder-btn:hover {
	background-color: #f0f0f0;
	/* Colore di sfondo al passaggio del mouse */
}

.folder-btn:not([disabled]):hover {
	background-color: #e0e0e0;
	/* Colore di sfondo grigio chiaro al passaggio del mouse */
}

/* DRAGEDROP*/
.droppable {
	color: green;
	background-color: #ddd;
}

.droppable.dragover {
	font-weight: bold;
}

.not-droppable {
	color: red;
}

.dragging {
	opacity: .5;
}

/*CPIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
.right-div {
	width: 49%;
	border: solid green;
	border-radius: 10px;
	float: right;
}

.left-div {
	width: 50%;
	border: solid green;
	border-radius: 4px;
	float: left;
}

a, button {
	color: black; /* Colore del testo nero */
	border-color: black; /* Colore del bordo nero */
	transition: all 0.3s ease; /* Aggiungi un'animazione di transizione */
	border-radius: 10px;
}

/* Stili generici per a e button */
a:hover, a:active, button:hover {
	background-color: #00b896; /* Colore di sfondo al passaggio del mouse */
	color: white; /* Colore del testo bianco al passaggio del mouse */
	border-color: #00b896;
	/* Cambia il colore del bordo al passaggio del mouse */
}

.BackButton {
	background-color: #e0e0e0;
	border: none;
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 5px;
}

.backVersionButton {
	background-color: #f0f0f0;
	border-color: #666;
	border-radius: 5px; /* Imposta i bordi più squadrati */
}

/* Stili hover specifici per BackButton */
.BackButton:hover, .backVersionButton:hover {
	background-color: red;
	border-color: #666;
}