<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Content</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link href="css/main.css" rel="stylesheet">

</head>
<body>
    <header>
    <nav class="navbar navbar-dark fixed-top">
        <img src="resources/images/polimi_logo_horizontal_white.png" height="60" width="auto">
        <div class="d-flex flex-row my-1"  style="margin-right:10px">
            <!--    <p th:text="${session.utente.username}" class="h4 navbar-brand font-weight-normal my-1">USERNAME</p> -->
            <a th:href="@{/Logout}" class="logout-link">
            	<button class="btn btn-outline-light my-1 logout-btn" type="submit">Logout</button>
            </a>
        </div>
    </nav>
    </header>
    <div class="scrollable-content">
	<div style="margin-top: 90px;">
		<form th:action="@{/GoBack}" method="get">
			
			<button th:if="${nextPage == 'homepage.html'}"
					 type="submit" class="btn btn-outline-light my-1 go-page-btn" style="float: right; margin-right: 10px;">Go to the Homepage </button>
					 
			<button th:if="${nextPage != 'homepage.html'}"
					 type="submit" class="btn btn-outline-light my-1 go-page-btn" style="float: right;">Go to the previous folder </button>
		</form>
	</div>

	<div style="margin-top: 2px; margin-left: 10px;">
        <h1>Content of <span th:text="${folderTree.folder.folderName}"></span> </h1>
        <h2>Folders</h2>
        <div th:if="${folderTree.childrenListSize == 0}"> 
            <p>empty folder :(</p>
        </div>
        <div th:if="${folderTree.childrenListSize > 0}"> 
        <ul>
            <li th:replace=":: printTree(${folderTree})"></li>
        </ul>
		</div>
        <h2>Documents</h2>
    </div>
	<div th:if="${documentList == null}">
	<p>No documenti</p>
	</div>
	<div th:if="${documentList != null}">
	<div th:each="document : ${documentList}" class="document-container" style="margin-left: 10px;">
			<div class="document-info">
				<div class="document-name" th:text="${document.documentName}"></div>
				<div class="button-group">
					<form th:action="@{/SelectDocumentToMove}" method="post">
						<input type="hidden" name="originFolderID"
							th:value="${folderTree.folder.folderID}" /> <input type="hidden"
							name="documentID" th:value="${document.documentID}" /> <input
							type="hidden" name="folderName"
							th:value="${folderTree.folder.folderName}" />
						<button type="submit" name="action" value="sposta" class="btn btn-outline-light btn-round my-1 internal-btn">Move</button>
					</form>
					<form th:action="@{/OpenDocument}" method="get">
						<input type="hidden" name="documentID"
							th:value="${document.documentID}" />
						<button type="submit" name="action" value="accedi" class="btn btn-outline-light btn-round my-1 internal-btn">Access</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Definizione della funzione ricorsiva Thymeleaf -->
	<div th:block th:fragment="printTree(node)">
		<div th:if="${node != null}" >
		<div
			th:if="${node.folder.depth > folderTree.folder.depth}">
			<a th:href="@{/GoToFolder(folderID=${node.folder.folderID}, currentPage='content.html')}">
			<button class="folder-btn"><span th:text="${node.folder.folderName}"></span></button>
			</a>
		</div>
		<ul th:if="${node.children}">
			<li th:each="child : ${node.children}">
				<div th:replace=":: printTree(${child})"></div>
			</li>
		</ul>
		</div>
	</div>

</body>
</html>
